body {
    margin: 0;
    overflow-x: hidden;
}

.background {
    width: 100vw;
    background-image: url('../images/wood-wall.jpg');
    background-size: contain;
    background-repeat: repeat;
}

.container {
    position: relative;
    height: 10000px;
}

.frame {
    position: fixed;
    width: 28vw;
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
}

#frame_01 {
    top: 10%;
    left: 5%;
    background-image: url(../images/frame_01.png);
    z-index: 1;
}

#frame_02 {
    top: 30%;
    left: 28%;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    background-image: url(../images/frame_02.png);
    z-index: 2;
}

img.second {
    z-index: 1;
}

#frame_03 {
    top: 10%;
    left: 65%;
    transform: rotate(5deg);
    background-image: url(../images/frame_03.png);
    z-index: 1;
}

.jigsaw_piece {
    width: 8.2%;
    display: inline-block;
    position: absolute;
}

/* --- scrollbar --- */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #aaaaaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}